/* gloable styls  */
html{
    font-size: 10px;
}
*,
ul{
    margin: 0;
    padding: 0;
}
body{
    font-size: 1.6rem;
    font-family: 'Be Vietnam', sans-serif;
}
a{
    text-decoration: none;
}
/* gloable styls end */
/* buttons styles start  */
.btn{
    padding: 10px 19px;
   
}
.btn-pirmary{
    background-color: hsl(12, 88%, 59%);
    color: #fff;
    border-radius: 50px;
    box-shadow: 0 13px 39px hsl(12deg 80% 81%);

    
}
/* buttons styles end  */
/* navbar style start */
.navbar{
    display: flex;
    
    align-items: center;
    justify-content: space-around;
    padding: 3rem 0;
}
.navbar-nav_list{
    display: flex;
    list-style: none;
    font-size: 1.8rem;
}
.navbar-nav_list--item:not(:last-child){
    margin-right: 3rem;
}
.hamburger{
    display: none;
}
.open{
    display: flex !important;
}

@media screen and (max-width: 1440px) {
    .navbar-nav_list--item:not(:last-child) {
        margin-right: 1.6rem;
    }
  
  }
  @media  screen and (max-width:900px) {
    .navbar{
        justify-content: space-between;
        padding: 3rem;
        align-items: center;
    }
      .nav-actions {
        display: none;
      }
      .hamburger{
          display: initial;
      }
      .navbar{
          position: relative;
      }
      .navbar-nav{
        position: absolute;
        z-index: 2;
        background-color: #fff;
        width: 300px;
        line-height: 2;
        padding: 2rem;
        align-items: center;
 
        justify-content: center;
        left: 50%;
        top: 50%;
        font-weight: 500;
        transform: translate(-50%,30%);
        font-weight: 500;
        display: none;

 
      }
      .navbar-nav_list{
          flex-direction: column;
          padding-left: 0;
   
      }
    
      .navbar-nav_list--item:not(:last-child){
        margin-bottom: 1rem;
    }
      
  }
  @media  screen and (max-width:900px) {
 
    
}
